<% provide(:title, "パスワードの再設定") %>
<h1>パスワードの再設定</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <p>下記にメールアドレスを入力してください。パスワードをリセットするためのリンクをお送りします。</p>
    <%= form_with(url: password_resets_path, scope: :password_reset) do |f| %>
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email %>

      <%= f.submit "送信する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>