/* mixins, variables, etc. */
$gray-light: #777;
$gray-darker: #222;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */
footer {
  color: $gray-light;
  a {
    color: $gray-light;
    &:hover {
      color: $gray-darker;
    }
  }
  ul li {
      margin-left: 15px;
  }
}

/* miscellaneous */
.debug_dump {
  display: block;
  background: #000;
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 50px;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
    text-align: center;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 10px;
    }
  }
}

/* forms */
form input,
form textarea,
form select,
form .uneditable-input {
    border: 1px solid #eee;
    background-color: #eee;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

form input {
    height: auto !important;
}

form input[type="file"] {
    background-color: #fff;
    border: none;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

/* Users index */
.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 20px;
        width: 30%;
        img {
            border-radius: 50%;
            margin-bottom: 10px;
        }
        h3 {
            text-decoration: none;
            color: #000;
            font-size: 22px;
        }
    }
}

// pagination
.pagination {
    justify-content: center;
    margin-top: 20px;
    li {
        padding: 10px;
        a {
            color: gray;
            text-decoration: none;
        }
    }
    .active {
        a {
            background: #93c9ff;
            color: #fff;
            border-radius: 15px;
            padding: 5px 10px;
        }
    }
}

//microposts
.microposts {
    list-style: none;
    a {
        color: #777;
        text-decoration: none;
    }
    img {
        border-radius: 50%;
        width: 20px;
    }
    h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    .post-image {
        width: 100%;
        border-radius: 5px;
        height: 250px;
        object-fit: cover;
    }
}

//comments
.comments {
    list-style: none;
    a {
        color: #777;
        text-decoration: none;
    }
    img {
        border-radius: 50%;
        width: 20px;
    }
    h5 {
        font-size: 16px;
        margin-top: 10px;
    }
}