<footer class="footer mt-auto py-3 bg-light navbar navbar-expand-lg">
  <div class="container">
    <small>
      <a href="https://geek-lounge.com/">GeekLounge</a>
      produced by <a href="https://corp.prezy.jp/">prezy,Inc.</a>
    </small>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "このサイトについて", about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>