<header class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
  <div class="container">
    <%= link_to "Sample App", root_path, id: "logo", class:"navbar-brand" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path ,class:"nav-link" %></li>
        <li><%= link_to "ヘルプ", help_path ,class:"nav-link" %></li>
        <li>
        <%= link_to '#' do %>
          <button class="btn btn-primary">ログイン</button>
        <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>